<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <p-card>
                <br>
                <h4>Id: <span style="font-size: 18px">{{userData.id}}</span> </h4>
                <h4>Name: <span style="font-size: 18px">{{userData.userName}}</span> </h4>
                <h4>Age: <span style="font-size: 18px">{{userData.age}}</span> </h4>
                <h4>Email id: <span style="font-size: 18px">{{userData.email}}</span> </h4>
                <h4>Phone: <span style="font-size: 18px">{{userData.phone}}</span> </h4>
                <h4>D.O.B: <span style="font-size: 18px"> {{userData.dob}}</span> </h4>
                <h4>Gander: <span style="font-size: 18px">{{userData.gander}}</span> </h4>
                <br>
            </p-card>
        </div>
    </div>
</div>