<div class="container custom-container-2">
    <!-- Show it when there is no user -->
    <div class="no-data text-center" *ngIf="users.length == 0">
        <p>There is no User added yet!</p>
        <button class="btn btn-outline-primary" routerLink="/create-user">Add User</button>
    </div>
</div>

<!-- user list table, it hides when there is no user -->
<div class="container-fluid" *ngIf="users.length !== 0">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-respos">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Email Id</th>
                        <th>Phone no.</th>
                        <th>Age</th>
                        <th>D.O.B</th>
                        <th>Gander</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.dob | date:'mediumDate'}}</td>
                        <td>{{user.gander}}</td>
                        <td>
                            <button pButton type="button" label="Details"
                                routerLink="/user-details/{{user.id}}"></button>
                            <button pButton type="button" label="Edit" class="ui-button-success"
                                routerLink="/user-edit/{{user.id}}"
                                style="margin-left:10px; margin-right:10px;"></button>
                            <button pButton type="button" label="Delete" class="ui-button-danger"
                                (click)="deleteUser(user.id)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>